body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: rgb(44, 41, 44);
    background-color: rgb(240, 235, 227);
}

#main-header {
    background-color: rgb(27, 36, 48);
    color: white;
    padding: 2rem 5%;
    text-align: center;
}

.btn{
    font: inherit;
    padding: 0.5rem 1.5rem;
    background-color: rgb(27, 36, 48);
    border: 1px solid rgb(240, 235, 227);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-alt{
    background-color: transparent;
    border-color: transparent;
    color: rgb(129, 103, 151);
}

.btn:hover{
    background-color: rgb(27, 36, 48);
    background-color: rgb(27, 36, 48));
}

.btn-alt:hover{
    background-color: rgb(81, 85, 126);
    border-color: transparent;

}